<footer>
  <div class="footer__container">
    <div class="social__container">
      <p class="footer__social__text">Наши соц сети:</p>
      <ul class="footer__social">
        <li>
          <div class="footer__tg__container">
            <a
              href="https://t.me/endless_eternity_omp"
              class="footer__link__tg"
              target="_blank"
            >
              <img
                class="footer__tg__img"
                src="../../assets/images/icons/telegram.svg"
                alt="tg"
              />
            </a>
          </div>
        </li>
        <li>
          <div class="footer__yt__container">
            <a href="" class="footer__link__yt" target="_blank">
              <img
                class="footer__yt__img"
                src="../../assets/images/icons/youtube.svg"
                alt="yt"
              />
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="app__container">
      <p class="footer__app__text">Скачать игру:</p>
      <a href="" class="footer__app__gp" target="_blank">
        <img
          src="../../assets/images/icons/google-play.png"
          alt="gp"
          class="footer__gp__img"
        />
      </a>
    </div>

    <p class="footer__text3">&copy; Footer content 2021</p>
  </div>
</footer>
