<main>
  <div class="main__container">
    <h1>О разработчиках</h1>
    <div class="develloper__container">
      <div class="dev__image__container">
        <img src="" alt="" class="dev__image" />
      </div>
      <div class="dev__text__container">
        <h2>Имя Фамилия</h2>
        <p>
          Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Unde harum
          voluptates facere magni sint, optio, perferendis vero corrupti magnam,
          dignissimos ipsa omnis, iure at non expedita ducimus vitae nulla
          voluptatibus.
        </p>
      </div>
    </div>
    <div class="dev__slider__container">
      <ul class="dev__slider">
        <li>
          <a href="#" id="dev__lin1"></a>
        </li>
        <li>
          <a href="#" id="dev__lin2"></a>
        </li>
        <li>
          <a href="#" id="dev__lin3"></a>
        </li>
        <li>
          <a href="#" id="dev__lin4"></a>
        </li>
        <li>
          <a href="#" id="dev__lin5"></a>
        </li>
        <li>
          <a href="#" id="dev__lin6"></a>
        </li>
        <li>
          <a href="#" id="dev__lin7"></a>
        </li>
        <li>
          <a href="#" id="dev__lin8"></a>
        </li>
      </ul>
    </div>
  </div>
</main>
