<div class="main__container">
  <h1>Новостная лента</h1>
  <div class="news__button__container">
    <span class="news__button__container__text">Сначала:</span>
    <button class="news__button__new">Новые</button>
    <button class="news__button__old">Старые</button>
  </div>
  <div class="news__container__all">
    <div class="news__container">
      <app-news-item></app-news-item>
    </div>
    <div class="news__container">
      <app-news-item></app-news-item>
    </div>
    <div class="news__container">
      <app-news-item></app-news-item>
    </div>
  </div>
</div>
