<div class="main__container">
  <div class="info__container">
    <h1>Endless Eternity: One More, Please!</h1>
    <p class="info__text">
      <b>Endless Eternity: One More, Please!</b> — игра в жанре RPG-clicker,
      выпущенная ????.
    </p>
    <p class="info__text">Суть игры заключается в том, что ????</p>
    <p class="info__text">
      Идея разработки данного игрового приложения возникла летом 2020 года. На
      тот момент основным посылом было продвижение персонажей фэнтези-вселенной
      &laquo;Endless Eternity&raquo; и предполагался небольшой проект
      реализуемый одним разработчиком. Однако, во время рассмотрения простейшей
      демо-версии запланированная структура игрового процесса была описана как
      &laquo;выделяющаяся среди других игр жанра кликер&raquo;, за счет чего
      проект получил дальнейшее развитие: со временем была собрана команда
      разнопрофильных разработчиков для реализации полноценного игрового
      приложения с целью публикации с помощью ресурса Google Play.
    </p>
  </div>
  <div class="content__container">
    <h3>Содержание:</h3>
    <ol class="content__list">
      <li>
        <a href="#plot" class="anchor__link">Сюжет</a>
      </li>
      <li>
        <a href="#gameplay" class="anchor__link">Геймплей</a>
      </li>
      <li>
        <a href="#mode" class="anchor__link">Режимы</a>
      </li>
      <li>
        <a href="#character" class="anchor__link">Персонажи</a>
      </li>
      <li>
        <a href="#item" class="anchor__link">Предметы</a>
      </li>
      <li>
        <a href="#gallery" class="anchor__link">Галерея</a>
      </li>
    </ol>
  </div>

  <app-section title="Сюжет"></app-section>
  <app-section title="Геймплей"></app-section>
  <app-section title="Режимы">
    <app-mode-section></app-mode-section>
  </app-section>
  <app-section title="Персонажи"></app-section>
  <app-section title="Предметы"></app-section>
  <app-section title="Галерея">
    <app-gallery></app-gallery>
  </app-section>
</div>
